* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho-lista--item {
    display: inline;
    margin-right: 16px;
    color: #F5F5F5;
}
.cabecalho-lista--item a {
    color: #F5F5F5;
    text-decoration: none;
}
.cabecalho{
    padding: 16px;
    background-color: #383D58;
    color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    
}

#escola{
    background-image: linear-gradient(#383D58,#4EBFE9);
    height: 540px;
    color: #f5f5f5;
}

.texto-escola{
width: 40%;
}

.contexto-escola{
    
    padding-top: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-escola{
    width: 20%;
    height: 20%;
}

.titulo-contexto-escola{
    padding: 32px 0;

}

.paragrafo-turma-famosa{
    font-weight: 700;
}

.paragrafo-ensino{
    padding: 16px 0 ;
}

.foto-estudante{
    width: 120px;
    height: auto;
}

.icone{
    padding: 8px 0;
    width: 24px;
}

.lista-estudantes{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto; 
   
}

.item-lista-estudante{
    text-align: center;
}

#container-estudante { 
    padding: 50px 400px;
}